body {
	background-color: #FFFFFF;
}
.wrapper {
	position:relative;
}
#scrollTop {
	position:fixed;
	left:5%;
	top:90%;
	z-index:3;
}

.front {
	position:relative;
	width:100%;
	height:100%;
}
.background {
	position:relative;
	width:100%;
	height:100vh;
	top:0;
	left:0;
	overflow-y:hidden;
	overflow-x:hidden;
}
.background img {
	display:none;
}
.front .container{
	position:absolute;
	width:800px;
	height:30%;
	top:62%;
	float:left;
	overflow:visible;
}

.front-text {
	position:relative;
	left:108px;
	font-family:"Courier New";
	text-align:center;
	color:#ffdae9;
	text-shadow: -2px 2px 30px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1);
	display:none;
}

.links {
	position:relative;
	left:40%;
	height:25%;
	width:400px;
	align-content: center;
	display:none;
}

.links img{
	position:relative;
	height:128px;
	width:auto;
	padding: 2%;
}

#scroll-test {
	width:30px;
}

.WhoAreYou{
	margin-top:100px;
	margin-bottom:100px;

}
.WhoAreYou h1{
	position:relative;
	text-align:center;
	font-family:sans-serif;
	color:grey;
	opacity:0;
}

.WhoAreYou p{
	text-align:center;
	font-size:25px;
	font-family:serif;
}

#seperate1{
	margin-top:2em;
	margin:auto;
	width: 0px;
	opacity:0;
	border-bottom: 2px solid chocolate;
}

.whatGame h1{
	position:relative;
	text-align:center;
	font-family:sans-serif;
	color:grey;
	opacity:0;
}

.whatGame p{
	text-align:center;
	font-size:25px;
	font-family:serif;
}

#seperate2{
	margin-top:2em;
	margin:auto;
	width: 0px;
	opacity:0;
	border-bottom: 2px solid chocolate;
}

.myPhoto {
	opacity: 0;
}

#photoCut {
	width: 100%;
	overflow:hidden;
}

.gamepic {
	display:none;
	position:relative;
}

.gamedescription {

	top: -20px;
	padding-left:50px;
	height:650px;
	display:none;
	position:relative;
	text-align:left;
}


.gamedescription h2{
	position: relative;
	top:20%;
	text-align:left;
}
.gamedescription p{
	position: relative;
	top:20%;
	text-align:left;
}

.active-game {
	display:block;
}

.select {
	position:absolute;
	top:95%;
	left:46%;
	z-index: 1;
}

.dot {
	position:absolute;
	opacity:0.5;
	height:24px;
	cursor:pointer;
}

.active-dot {
	opacity:1;
	cursor:initial;
}

.buttonBG {
	position:absolute;
	top:-3px;
	left:-25px;
	background-color:grey;
	border-radius: 30px;
	opacity:0.8;
	height:30px;
	width:100px;
}

#tag {
	color:chocolate;
}